@keyframes rainbow-text {
    0% { color: red; }
    16% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: indigo; }
    100% { color: violet; }
}


body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white; 
    font-family: Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6{
    font-size: 3rem;
}

p {

font-size: medium;
}

.rainbow-text {
    display: inline-block;
    animation: rainbow-text 0.5s linear infinite; 
}
